body {
    font-family: monospace;
    font-size: 16px;
}

.error {
    background-color: #ff2c2c;
    color: #fff;
    padding: 12px;
    margin: 12px auto;
    max-width: 213px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

#data-section.active {
    border: 1px solid #eee;
    margin: 24px auto;
    border-radius: 4px;
    box-shadow: 0 0 4px #eee;
    padding: 24px;
}

.single-pill {
    margin-bottom: 12px;
    font-style: oblique;
}

.pill {
    display: flex;
    justify-content: center;
    padding: 4px;
}

.pill .value {
    width: 100px;
}